*{
  --mainPink: #FFD5C2;
  --mainWhite: #f4f8ff;
  --mainGreen: #588B8B;
  --mainBlue: #0D324D;
  --mainRed: #8B1E3F;
}

.footer{
  background-color: var(--mainPink);
  color: black;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.explore, .popular-recent, .userProfile, .searchResults, .addDiscussion-container, .addDiscussion-research, .displayDiscussion{
  min-height: 83.5vh;
  padding: 30px 50px;
  background-color: var(--mainWhite);
}

.navbar{
  background-color: white;
}

.navbar-top{
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

.header{
  background-color: var(--mainPink);
  height: 261px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up{
  background-color: var(--mainWhite);
  border: solid 0.2px #CCC6C6;
  color: var(--mainGreen);
  border-radius: 18px;
}

.sign-up:hover{
   background-color: var(--mainGreen);
   color:var(--mainWhite);
}

.log-in{
  background-color: var(--mainGreen);
  border: var(--mainGreen);
  color: white;
  border-radius: 18px;
}

.log-in, .sign-up{
  margin: 0 10px;
}

.log-in:hover{
  background-color: white;
  color: var(--mainGreen);
}

.sign-up:hover{
  background-color: var(--mainGreen);
  color: white;
}

.home-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.home-card{
	position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.card{
  margin: 59px 20px;
}

.card-container{
  height: 230px;
  overflow: hidden;
  position: relative;
}

a{
  text-decoration: none;
}

.search-btn{
  background-color: var(--mainWhite);
  color: var(--mainGreen);
  border: solid 0.2px #CCC6C6;;
}

.search-btn:hover{
  background-color: var(--mainGreen);
  color: var(--mainWhite);
}

.home{
  background-color: var(--mainWhite);
}

.home-cards > a{
  display: inline-block;
}

.user-info{
  background-color: var(--mainWhite);
  display: flex;
  flex-direction: row;
}

.user-pfp{
  border-radius: 50%; 
  height: 32px;
  width: 32px;
  margin-right: 15px;
}

.savedCard{
  box-shadow: 0 6px 6px rgba(144, 138, 138, 0.1);
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  position: relative;
  width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.savedCard >  .card-body{
  margin: 10px 0;
}

.card-tags{
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: visible;
  flex-wrap: wrap;
}

.card-tag{
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  font-size: 0.8em;
  padding: 4px 10px;
  border-radius: 20px;
  text-align: center;
  margin: 3px;
}

.userProfile{
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 100px;
}

.userProfile > .flex-container{
  display: flex;
  flex-direction: column;
}

.savedCard > .save-icon{
  color: var(--mainRed);
  font-size: 1.5em;
  position: absolute;
  right: 35px;
  top: 10px;
}

.icon-thick {
  filter: drop-shadow(1px 0 var(--mainRed))
          drop-shadow(-1px 0 var(--mainRed))
          drop-shadow(0 1px var(--mainRed))
          drop-shadow(0 -1px var(--mainRed));
}

.icon-thick:hover{
  cursor: pointer;
}

.card-user{
  display: flex;
  flex-direction: row;
}

.card-user > .names{
  display: flex;
  flex-direction: column;
}

.card-user > .names > span:first-child{
  font-size: 1.2em;
}

.card-user > .names > span:nth-child(2){
  font-size: 0.8em;
}

.savedCards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.large{
  width: 150px;
  height: 150px;
}

.userpfp-card{
  background-color: white;
  text-align: center;
  padding: 10px 0;
}

.userpfp-card > div:first-of-type{
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.3em;
}

.userpfp-card > div:last-of-type{
  font-size: 1em;
}

.userinfo-card > div:first-of-type{
  font-weight: 550;
  font-size: 1.2em;
}

.userinfo-card{
  background-color: white;
  padding: 15px
}

.userInfo{
  gap: 30px;
}

.userInfo > .userpfp-card{
  margin-bottom: 60px;
}

.userinfo-edit > .edit{
  background-color: var(--mainGreen);
  color: white;
}

.form-margin-control{
  margin: 10px 0;
}

.user-interest-select-container{
  display: flex;
  flex-direction: row;
}

.userinfo-edit .add{
  background-color: var(--mainRed);
  color: white;
}

.user-interests.card-tags{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.user-interests.card-tags > span{
  margin: 3px 0;
}

.userbio > textarea{
  overflow: hidden;
  resize: none;
}

.remove-tag:hover{
  cursor: pointer;
}

.tagRemoveBtn{
  background-color: var(--mainBlue);
  color: white;
}

.card-body.discussion{
  display: flex;
  flex-direction: column;
}

.card-body.discussion .post-user{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-body.discussion .post-user > img {
  width: 30px;
  height: auto;
  padding: 0;
}

.card.discussion{
  margin: 15px;
  box-shadow: 2px 3px 5px rgb(162, 162, 162);
}

.card.discussion:hover{
  box-shadow: 2px 4px 6px rgb(107, 107, 107);
}

#filterByTopics{
  margin: 10px 0;
}

.card-subtitle.userName{
  margin: 0 5px;
}

.card-body > h5{
  margin: 5px 0;
}

.swiper-button-prev, .swiper-button-next{
  width: 20px !important;
}

.explore > h2:nth-of-type(2){
  margin-top: 50px;
}

.explore > .topicSelectForm > .myRow{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.explore > .topicSelectForm > .myRow > .btn{
  background-color: var(--mainRed);
  color: white;
  height: 36px;
  margin-left: 5px;
}

.searchResults-row{
  margin: 10px 0;
}

.searchResults-container{
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  background-color: white;
  padding: 20px 30px;
}

.searchResults-flexContainer{
  display: flex;
  flex-direction: column;
}

.searchResults-container h2{
  font-size: 1.4em;
}

.horizontal{
  width: 100%;
  border-bottom: 1px solid #e1e4e8; 
  margin: 16px 0;                 
}

.searchResults-row > .tag-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.searchResults-row > .authors-row > .author{
  margin-right: 15px;
}

.searchResults-row > .tag-icons > span{
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
}

.searchResults-row > .tag-icons > span > a{
  color: white;
  text-decoration: none;
}

.searchResults-row > .authors-row{
  margin: 10px 0;
}

.swiper-wrapper{
  align-items: stretch;
}

.btn.submit{
  border-radius: 8px;
}

.login-form, .signup-form{
  width: 650px;
  padding: 30px 20px 10px;
  min-height: 100%;
  border-radius: 10px;
  border: 2px solid grey;
  margin-left: auto;
  margin-right: auto;
}

.form-row{
  padding: 8px 0;
}

.login-form > h3::after, .signup-form > h3::after{
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--mainRed);
  margin-top: 8px;
  border-radius: 5px;
}

.login-container, .signup-container{
  background-image: url(/img/login_background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  min-height: 83.5vh;
}

.login-form > .btn, .signup-form > .btn{
  border: 1px solid grey;
  margin: 8px 0;
}

.signup-form > .btn{
  color: white;
}


small{
  margin: 0 10px;
}

.signup-form > small, .signup-form > .form-row > .password{
  color: white;
}

.first-last{
  display: flex;
}

.first-last > div{
  margin-right: 30px;
}

.new-discussion{
  color: white;
  background-color: var(--mainRed); 
  border-radius: 18px;
  border: 1px solid var(--mainRed);
}

.new-discussion:hover{
  color: var(--mainRed)
}

.discussion-types{
  margin-left: auto;
  margin-right: auto;
}

.discussion-type{
  background-color: #CBEFB6;
}

.discussion-type:hover{
  background-color: #A8CB93;
}

.btn-group-wrapper{
  display: flex;
  justify-content: center;
}

.discussion-type.active{
  background-color: #669b45;
  color: white;
  border: 0;
}

.addDiscussion-form{
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

.addDiscussion-form .btn{ 
  display: flex;
  justify-self: center;
  background-color: #669b45;
  color: white;
  margin: 20px 0;
}

.addDiscussion-form .form-row{
  margin: 20px 0;
}

.saved, .posted{
  margin: 20px 0;
}

.displayDiscussion > .container{
  width: 650px;
  background-color: white;
  border-radius: 18px;
  padding: 50px 40px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.displayDiscussion > .container > h2, .displayDiscussion > .container > p:first-of-type{
  text-align: center;
}

.displayDiscussion > .container > span{
  background-color: var(--mainBlue);
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  text-align: center;
  align-self: flex-end;
}

.displayDiscussion > .container > .save-icon{
  color: var(--mainRed);
  font-size: 1.7em;
  position: absolute;
  right: 35px;
  top: 10px; 
}